---
title: "404"
layout: default
permalink: /404.html
---

<div class="container text-center" style="padding:60px 20px;">
    <h1 style="font-size:8rem; font-weight:bold;"><strong>404</strong></h1>
    <h3 class="mb-3"><strong>Page Not Found :(</strong></h3>

    <p class="mb-4">
        The page you're looking for doesn't exist, but here's something you might like.
    </p>

    <div class="col-12 col-md-6 col-lg-4 post-item">
        <!-- RANDOM POST -->
        {% assign random_posts = site.posts | sample:12 %}

        <div class="row g-3">
            {% for post in random_posts %}

            <div class="card border border-1 bg-light shadow-none h-100 card-hover">

                <a href="{{ site.baseurl }}{{ post.url }}" class="text-decoration-none text-dark">

                    {% if post.image %}
                    {% if post.image contains 'http' %}
                    <img src="{{ post.image }}" class="card-img-top" style="aspect-ratio: 4/3; object-fit: cover;"
                        loading="lazy">
                    {% else %}
                    <img src="{{ site.baseurl }}/{{ post.image }}" class="card-img-top"
                        style="aspect-ratio: 4/3; object-fit: cover;" loading="lazy">
                    {% endif %}
                    {% endif %}


                    <div class="card-body">
                        <h4 class="fw-semibold mb-2 text-capitalize">
                            {{ post.title }}
                        </h4>

                        <small class="text-muted d-block mb-2">
                            {{ post.date | date: "%b %-d, %Y" }}
                        </small>

                        <p class="text-secondary mb-2">
                            {{ post.excerpt | strip_html | truncate: 100 }}
                        </p>
                    </div>

                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <a href="{{ site.baseurl }}/" class="btn btn-success mt-3">
        Back to Home
    </a>

</div>