<footer class="footer mt-5 pt-5 pb-4 bg-light border-top shadow-none">
  <div class="container">
    <div class="row g-4">

      <!-- ABOUT -->
      <div class="col-12 col-md-6">
        <h5 class="fw-bold mb-3">{{ site.title }}</h5>
        <p class="text-muted small">
          {{ site.description }}
        </p>
      </div>

      <!-- SOCIAL -->
      <div class="col-12 col-md-6">
        <h6 class="fw-bold mb-3">Follow</h6>

        <div class="d-flex gap-3 fs-5">

          {% if site.facebook %}
          <a href="{{site.facebook}}" target="_blank"><i class="fa fa-facebook"></i></a>
          {% endif %}

          {% if site.twitter %}
          <a href="{{site.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a>
          {% endif %}

          {% if site.github %}
          <a href="{{site.github}}" target="_blank"><i class="fa fa-github"></i></a>
          {% endif %}

          {% if site.email %}
          <a href="mailto:{{site.email}}"><i class="fa fa-envelope"></i></a>
          {% endif %}

        </div>

      </div>

    </div>

    <!-- COPYRIGHT -->
    <div class="text-center mt-4 pt-3 border-top small text-muted">
      © {{ site.time | date: "%Y" }}
      {% if site.copyright.name %}
      <a href="{{site.copyright.link}}" target="_blank">
        {{site.copyright.name}}
      </a>
      {% else %}
      {{ site.title }}
      {% endif %}
      . All rights reserved.
    </div>

  </div>
</footer>