/**
* Custom CSS
*/

/**
* Navigasi
*/
.navigationwrapper {
    z-index: 1;
    margin: 0 auto 5px
}

.navi-idntheme {
    height: 46px;
    width: 100%;
    text-transform: uppercase;
    background: #e74c3c;
    color: #e74c3c;
    border-bottom: 3px solid #db301e;
}

.navi-idntheme a {
    font-size: .9em;
    display: block;
    line-height: 46px;
    padding: 0 10px;
    text-decoration: none;
    color: #fff;
    font-weight: bold
}

.navi-idntheme a:hover {
    color: #fff
}

.navi-idntheme a i {
    font-weight: normal
}

.navi-idntheme ul,
.navi-idntheme li {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    z-index: 10
}

.navi-idntheme li {
    float: left;
    display: inline;
    position: relative
}

.navi-idntheme li:hover {
    color: #fff
}

.navi-idntheme input {
    display: none;
    margin: 0;
    padding: 0;
    width: 80px;
    height: 30px;
    opacity: 0;
    cursor: pointer
}

.navi-idntheme label {
    display: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center
}

.navi-idntheme label span {
    font-size: 16px;
    position: absolute;
    left: 35px
}

.navi-idntheme ul.menus li {
    display: block;
    width: 100%;
    text-transform: none;
    text-shadow: none
}

.navi-idntheme ul.menus a {
    color: #FFF;
    line-height: 35px
}

.navi-idntheme li a:hover {
    background: rgba(0, 0, 0, 0.1)
}

.navi-idntheme li:hover ul.menus {
    display: block
}

.navi-idntheme ul.menus a:hover {
    background: #5FC6EB;
    color: #fff
}

.navi-idntheme li ul {
    background: #fff;
    margin: 0;
    width: 150px;
    height: auto;
    position: absolute;
    top: 45px;
    left: 0;
    z-index: 10;
    display: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15)
}

.navi-idntheme li li {
    display: block;
    float: none
}

.navi-idntheme li li a:hover {
    background: #e55a42
}

.navi-idntheme li:hover>ul {}

.navi-idntheme li ul ul {
    left: 100%;
    top: 0
}

.navi-idntheme li li>a {
    display: block;
    padding: 0 10px;
    margin: 0;
    line-height: 34px;
    color: #222;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.03);
    font-weight: 400;
    text-transform: none
}

.navi-idntheme li li>a:hover {
    background: #f5f5f5;
    color: #222
}

.navi-idntheme li.firstli {
    background: #db301e;
    line-height: 36px;
    overflow: hidden
}

.navi-idntheme li.firstli a {
    padding: 0 15px
}

.navi-idntheme li.firstli a:hover {
    background: transparent
}

.navi-idntheme li a i {
    font-family: fontawesome;
    font-style: normal;
    font-size: 18px
}

.navi-idntheme a i.fas.fa-angle-down {
    margin-left: 5px;
    font-size: 13px
}

.navi-idntheme p {
    display: none
}

@media screen and (max-width:800px) {
    .navi-idntheme {
        position: relative
    }

    .navi-idntheme i {
        color: #fff
    }

    .navi-idntheme ul {
        background: #fff;
        position: relative;
        top: -20px;
        left: 0;
        z-index: 3;
        display: none;
        overflow-x: auto
    }

    .navi-idntheme ul.menus {
        width: 100%;
        position: static;
        padding-left: 20px
    }

    .navi-idntheme li {
        display: block;
        float: none;
        width: auto;
        left: 0;
        background: #e74c3c
    }

    .navi-idntheme p {
        display: block;
        padding: 11px;
        font-size: 18px;
        font-weight: bold;
        color: #fff;
        line-height: 1.5em
    }

    .navi-idntheme input,
    .navi-idntheme label {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        height: 46px
    }

    .navi-idntheme input {
        z-index: 4;
        width: 100%
    }

    .navi-idntheme input:checked+label {
        color: #fff
    }

    .navi-idntheme input:checked~ul {
        display: block;
        width: 100%
    }

    .navi-idntheme li:hover>ul {
        width: 100%
    }

    .navi-idntheme li ul {
        background: #222;
        height: auto;
        position: relative;
        width: auto;
        box-shadow: none;
        top: 0
    }

    .navi-idntheme li li>a {
        color: #444;
        border: 0
    }

    .navi-idntheme li li>a:hover {
        background: #2a2a2a;
        color: #fff
    }

    .navi-idntheme label {
        font-size: 25px;
        right: 5px
    }

    .navi-idntheme a i.fas.fa-angle-down {
        float: right
    }

    .navi-idntheme li.firstli {
        display: none
    }
}